<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
        id="org.apache.cordova.plugin"
        version="0.1.0">

    <engines>
        <engine name="cordova" version="3.0.0" />
    </engines>

    <name>Parse Installation Plugin</name>
    <description>A plugin that will allow you to access Parse
		installation objects</description>
    <author>James Kotzian</author>
    <keywords>Parse, installation</keywords>



    <js-module src="installation.js" name="installation">
        <clobbers target="installation" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <source-file src="installation.java" target-dir="src/org/apache/cordova/plugin" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Installation" >
                <param name="android-package" value="org.apache.cordova.plugin.Hello"/>
            </feature>
        </config-file>
    </platform>
</plugin>