<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
        id="cordova-plugin-parseinstallation"
        version="0.1.0">

    <engines>
        <engine name="cordova" version="5.4.0" />
    </engines>

    <name>Hello</name>
    <description>A plugin that allows client code to tie isntallation
		objects with a user through javascript by setting a "username" field</description>
    <author>James, Kotzian</author>
    <keywords>Parse, Installation, javascript</keywords>

    <js-module src="hello.js" name="myinstallation">
        <clobbers target="myinstallation" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <source-file src="Hello.java" target-dir="src/org/apache/cordova/plugin" />

        <config-file target="config.xml" parent="/*">
            <feature name="Hello">
                <param name="android-package" value="cordova-plugin-parseinstallation-MyInstallation"/>
            </feature>
        </config-file>
    </platform>
</plugin>
